@page
@model WebAdvert.Web.Pages.Accounts.ConfirmModel

<div class="row">
    <div class="col-md-4">
        <h4>Create a new User</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger">
        </div>

        <form method="post" asp-controller="Accounts" asp-action="Confirm">
            <div class="form-group">
                <label>Email </label>
                <input id="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input id="Code" class="form-control" />
                <span id="Code" class="text-danger"></span>
            </div>

            <button class="btn btn-defailt" type="submit">Submit</button>
        </form>

    </div>

</div>
